html {
	height: 100%;
}

body {
	font-family: 'PT Mono',  sans-serif;
	height: 100%;
}

section {
	float: left;
	height: 100%;
	padding: 1%;
	width: 31.3333333333333%;
}

section p {
	color: #333;
	font-size: 1.75em;
}

.logo {
	color: #fff;
	font-size: 14em;
	font-weight: bold;
	text-align: center;
	margin: -.6em 0 .25em 0;

	transition: margin-top .5s;
}

section:hover .logo {
	margin-top: .15em;
}

section:nth-child(3) .logo {
	letter-spacing: -24px;
}

section:nth-child(1){
		background: #52edc7; 
		background-image: linear-gradient(#52edc7, #5ac8fb);
		background: -moz-linear-gradient(top,  #52edc7 0%, #5ac8fb 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52edc7), color-stop(100%,#5ac8fb)); 
		background: -webkit-linear-gradient(top,  #52edc7 0%,#5ac8fb 100%); 
		background: linear-gradient(to bottom,  #52edc787fc70 0%,#5ac8fb 100%); 
}

section:nth-child(2) {
		background: -moz-linear-gradient(top,  #FFCB84 0%, #e4ddca 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFCB84), color-stop(100%,#e4ddca));
		background: -webkit-linear-gradient(top,  #FFCB84 0%,#e4ddca 100%);
		background: linear-gradient(to bottom,  #FFCB84 0%,#e4ddca 100%);

}

section:nth-child(3) {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb2b69), color-stop(100%,#ff5b37));
		background: -webkit-linear-gradient(top,  #fb2b69 0%,#ff5b37 100%);
		background: linear-gradient(to bottom,  #fb2b69 0%,#ff5b37 100%);
}



@media screen and (max-width: 1200px) {

	section {
		float: none;
		height: auto;
		width: 100%;
	}

	section h1, 
	section h3,
	section p {
		font-size: 200%;
	} 

	.logo {
		margin-top: 0;
	}

}

@media screen and (max-width: 768px) {

	section h1, 
	section h3,
	section p {
		font-size: 150%;
	} 

}

@media screen and (max-width: 480px) {

	section h1, 
	section h3,
	section p {
		font-size: 100%;
	} 

}		